
.start {
    background-image: url("images/TB53It.jpg");
    
  }

  .back{
    background-image: url(images/tumblr_nw81s5Eh6M1rbd7lgo1_250.gif);
   }

   .game{
    background-color:#ff8080;
      
   }

  

  .start-h1{
      text-align: center;
      padding-top: 100px;
      font-size: 80px;
      text-decoration: underline ;
      text-shadow: 3px 3px 0 #fa8b6f; 
                
  }

  .game-h1{
    color: black;
    text-shadow: 3px 3px #cfcfcf;
    font-size: 75px;
  }

  .game-h2{
    border: white 2px solid;
    padding: 8px;
  }

  .game-h3{
    border: white 2px solid;
    padding: 8px;
  }

  .game-h2-2{
    font-size: 200%;
  text-shadow: 2px 2px rgb(180, 180, 180);
  color: black;
  }

  .start-btn{
      display: block;
      width: 20%;
      height: 6%;
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      font-size: 30px;
      background-color: black;
      color: white;
      transition-duration: 0.4s;
      cursor: pointer;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.start-btn:hover{
    background-color:#fa8b6f;
    color: white;
}

.exit-btn{
    display: block;
    width: 15%;
    height: 6%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
    font-size: 30px;
    background-color: black;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seri
}

.exit-btn:hover{
  background-color:#fa8b6f;
  color: white;
}

.close-exit-modal-btn{
  display: block;
    width: 15%;
    height: 20%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
    font-size: 30px;
    background-color: black;
    color: white;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seri
}

.close-exit-modal-btn:hover{
  background-color:#00e1ff;
  color: black;
}


.game-btn{
  display: block;
    width: 300px;
    height: 10%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 200px;
    top: 85%;
    font-size: 30px;
    background-color: white;
    color: black;
    transition-duration: 0.4s
}

.game-btn:hover{
  background-color:#ff8080;
  color: black;
}

.coins-btn{
  display: block;
    width: 200px;
    height: 7%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 200px;
    top: 75%;
    font-size: 20px;
    background-color: white;
    color: black;
    transition-duration: 0.4s;
}

.coins-btn:hover{
  background-color:#ff8080;
  color: black;
}

.game-exit-btn{
  display: block;
  width: 200px;
  height: 7%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 90%;
  top: 93%;
  font-size: 20px;
  background-color: white;
  color: black;
  transition-duration: 0.4s;
}

.game-exit-btn:hover{
  background-color:#ff8080;
  color: black;
}

.module-close{
  display: block;
  width: 200px;
  height: 7%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 78%;
  top: 80%;
  font-size: 20px;
  background-color: white;
  color: black;
  transition-duration: 0.4s;
}

.module-close:hover{
  background-color:#ff8080;
  color: black;
}

.right-item{
  background-color:#ff8080;

}
.mid-item{
  text-align: center;
  margin-top: 60px;
  background-color: white;
  
}

.left-item{
  background-color:#ff8080;
  height: 100%;
  padding: 10px;
}

.game-container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  top: 60%;
  bottom: 0%;
  height: 900px;
}

.image-container{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  height: 650px;
  padding: 20px;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  margin: 20px;
}




.top-left-item{
  margin-top: 20%;
  font-size: 150%;
  text-shadow: 3px 3px #ff4d4d;
  color: white;
}




.finn{
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 55%;
}


.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(255, 77, 77, 0.39);
}

.modal-content {
  background-color: #fefefe;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  width: 70%;
}

.modal1 {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url(images/tumblr_nw81s5Eh6M1rbd7lgo1_250.gif);
}

.modal-content1 {
  background-color: #fefefe;
  margin-top: 00px;
  padding: 10px;
  border: 1px solid black;
  height: 50%;
  width: 70%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
  text-align: center;
  font-size: 150%;
}

.ice-king{
  height: 80%;
  width: 80%;
  padding-top: 20px;  
}

.bmo{
  height: 60%;
  width: 65%;
  padding-top: 55px;
  padding-left: 20px;
}

.jake{
  height:60%;
  width: 90%;
  padding-top: 80px;
}

.lol{
  height: 80%;
  width: 65%;
  padding-top:15px;
  padding-left: 30px;
}

.lumpy{
  height: 60%;
  width: 70%;
  padding-top: 80px;
  padding-left: 30px;
}

.rainbow{
  height: 55%;
  width: 100%;
  padding-top: 60px;
}

.buble{
  height: 90%;
  width: 30%;
  padding-left: 80px;
}

.buy1{
  background-color: #fefefe;
  margin-top: 00px;
  padding: 10px;
  border: 1px solid black;
  height: 35px;
  width: 90px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 20%;
  top: 50%;
  transition-duration: 0.4s

}

.buy1:hover{
  background-color:#ff8080;
  color: black;
}

.buy2{
  background-color: #fefefe;
  margin-top: 00px;
  padding: 10px;
  border: 1px solid black;
  height: 35px;
  width: 90px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 34%;
  top: 50%;
  transition-duration: 0.4s
}

.buy2:hover{
  background-color:#ff8080;
  color: black;
}

.buy3{
  background-color: #fefefe;
  margin-top: 00px;
  padding: 10px;
  border: 1px solid black;
  height: 35px;
  width: 90px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 47%;
  top: 50%;
  transition-duration: 0.4s
}

.buy3:hover{
  background-color:#ff8080;
  color: black;
}

.buy4{
  background-color: #fefefe;
  margin-top: 00px;
  padding: 10px;
  border: 1px solid black;
  height: 35px;
  width: 90px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 61%;
  top: 50%;
  transition-duration: 0.4s
}

.buy4:hover{
  background-color:#ff8080;
  color: black;
}

.buy5{
  background-color: #fefefe;
  margin-top: 00px;
  padding: 10px;
  border: 1px solid black;
  height: 35px;
  width: 90px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 74%;
  top: 50%;
  transition-duration: 0.4s
}

.buy5:hover{
  background-color:#ff8080;
  color: black;
}

.buy6{
  background-color: #fefefe;
  margin-top: 00px;
  padding: 10px;
  border: 1px solid black;
  height: 35px;
  width: 90px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 20%;
  top: 85%;
  transition-duration: 0.4s
}

.buy6:hover{
  background-color:#ff8080;
  color: black;
}

.buy7{
  background-color: #fefefe;
  margin-top: 00px;
  padding: 10px;
  border: 1px solid black;
  height: 35px;
  width: 90px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 34%;
  top: 85%;
  transition-duration: 0.4s
}

.buy7:hover{
  background-color:#ff8080;
  color: black;
}

